<p style="color: green"><%= notice %></p>

<h1><%= t(Book.model_name.human) %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('action.book.show'), book %>
    </p>
  <% end %>
</div>

<%= link_to t('action.book.new'), new_book_path %>
